<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eg_map">
	<link name="map">
	</link>

	<xacro:macro name="tag" params="num xyz rpy">
		<link name="tagposition_${num}">
		</link>
		
		<joint name="map_to_${num}" type="fixed">
			<parent link="map" />
			<child link="tagposition_${num}" />
			<origin xyz="${xyz}" rpy="${rpy}" />
		</joint>
	</xacro:macro>
	
	<xacro:tag num="0" xyz="6.7 2.8 2.5" rpy="3.1416 0 -1.57"/>
	
	<xacro:tag num="1" xyz="6.7 3.8 2.5" rpy="3.1416 0 1.57"/>
</robot>